* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.pageWrapper{
    display: grid;
    grid-template-columns: 75% 25%;
}
.questionDisplay {
    grid-column-start: 1;
  grid-column-end: 2;
  display: inline-block;
}

.leftButton {
    position: absolute;
    padding: 15px;
    font-size: xx-large;
  bottom: 10px;
  border-radius: 25%;

}

.rightButton {
  position: absolute;
  padding: 15px;
    font-size: xx-large;
  bottom: 10px;
  border-radius: 25%;
}
.activeWatch {
    display: block;
    grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
  margin: auto;
  padding: auto;

}

.activeWatch > img {
    
  border-radius: 25%;
  max-width: 100%;
  max-height: 100%;
  transition: all 2.5s;
}

.answersParent{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.answersDiv {
    flex-grow: 1;
    padding: 5%;
    height: 100%;
  border-radius: 15%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
  gap: 15%;

}


.answersDiv > button{
padding: 15px;
border-radius: 5%;
box-shadow: 0 3px #999;
}

.answersDiv > button:hover{
background-color:aliceblue;
}

.answersDiv > button:active{
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.answersDiv > button:nth-child(1) {
  grid-row-start: 2;
  grid-row-end: 3;
}
.answersDiv > button:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 4;
}
.answersDiv > button:nth-child(3) {
  
  grid-row-start: 4;
  grid-row-end: 5;
}
.answersDiv > button:nth-child(4) {

  grid-row-start: 5;
  grid-row-end: 6;
}
.correct {
  background-color: blue;
  animation: rotation 2s infinite linear;
}

.nextWatch{
    width: 25%;
    margin: auto;
}
.toolBox{
    display: flex;

    grid-row-start: 1;
  grid-row-end: 2;
    

}
.toolBox div{
  flex: 1;
}

.toolBox button{
  width: 100%;
  height: 100%;
}

.score{
    padding: 5px;
    text-align: center;
}

.correctanswer{

    animation: goodglowing 1300ms infinite;

}
.wronganswer{
  animation: badglowing 1300ms infinite;
}
.spin{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.activeWatch > img:hover, .activeWatch > img:active {
  display: block;
}

.activeWatch:hover .picZoom, .activeWatch:active .picZoom {
  opacity: 1;
}

.picZoom {
  width: 340px;
  height: 340px;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  pointer-events: none;
  position: absolute;
  opacity: 0;
  border: 4px solid whitesmoke;
  z-index: 99;
  border-radius: 100%;
  display: block;
  transition: opacity .2s;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes goodglowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

@keyframes badglowing {
  0% {
    background-color: #ca0e0e;
    box-shadow: 0 0 3px #ca0e0e;
  }
  50% {
    background-color: #c14848;
    box-shadow: 0 0 10px #c14848;
  }
  100% {
    background-color: #ca0e0e;
    box-shadow: 0 0 3px #ca0e0e;
  }
}

